@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color:  #000000;
    font-family: 'Poppins', sans-serif;
  }
  
   
   
    
    @keyframes floating {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    }
    
    .floating-animation {
      animation: floating 3s ease-in-out infinite;
    }